/* ===============================
   RESET
================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#07131F;

    font-family:'Inter',sans-serif;

    color:white;

}

/* ===============================
   NAVBAR
================================== */

.custom-navbar{

    background:rgba(7,19,31,.55);

    backdrop-filter:blur(14px);

    border-bottom:1px solid rgba(255,255,255,.08);

    transition:.35s;

    padding:18px 0;

}

.navbar-brand{

    font-size:1.6rem;

    font-weight:700;

    color:white;

}

.navbar-brand span{

    color:#38BDF8;

}

.nav-link{

    color:#CBD5E1;

    margin-left:25px;

    transition:.3s;

    font-weight:500;

}

.nav-link:hover{

    color:#38BDF8;

}

.linkedin-btn{

    margin-left:25px;

    width:42px;

    height:42px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:#2563EB;

    color:white;

    text-decoration:none;

    transition:.3s;

}

.linkedin-btn:hover{

    transform:translateY(-3px);

    background:#38BDF8;

}

.navbar-toggler{

    border:none;

}

.navbar-toggler:focus{

    box-shadow:none;

}